/* project.css */
.project-section {
  padding: 6rem 25rem;
}

.top {
  margin-left: 30rem;
  font-size: 3rem;
}

.title {
  margin-left: 31rem;
  font-size: 2rem;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.project-image {
  width: 300px;
  height: 200px;
  margin-right: 20px;
  border-radius: 3rem;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-description {
  margin-bottom: 20px;
  text-align: left;
  flex: 1;
}

.checkout {
  background-color: #6e57e0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;
  color: white;
  border-radius: 1.5rem;
  font-size: 2rem;
  margin-left: 25rem;
}

.arrow {
  font-size: 3rem !important;
  color: #6e57e0;
  margin-left: 20rem;
  cursor: pointer;
  background-color: #6e57e0;
  color: aliceblue;
}

.desc {
  font-size: 1.6rem;
  padding: 5rem;
}

.title {
  font-size: 2rem;
}

.checkout:hover {
  background: #6144d4;
}

/* Media Queries for responsive layout */
/* For screen sizes <= 768px */
@media screen and (max-width: 768px) {
  .project-section {
    padding: 2rem;
  }

  .top {
    margin-left: 2rem;
    font-size: 2.5rem;
  }

  .title {
    margin-left: 2rem;
    font-size: 1.8rem;
  }

  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .project-item {
    flex-direction: column;
    align-items: center;
  }

  .project-image {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .project-description {
    text-align: center;
    flex: none;
  }

  .checkout {
    margin-left: 2rem;
  }

  .arrow {
    margin-left: 2rem;
  }

  .desc {
    padding: 1rem;
  }
}
